bin/*
atu-100/build/default/production/*
atu-100/dist/default/production/*.d
atu-100/dist/default/production/*.i
atu-100/dist/default/production/*.o
atu-100/dist/default/production/*.cmf
atu-100/dist/default/production/*.hum
atu-100/dist/default/production/*.hxl
atu-100/dist/default/production/*.lst
atu-100/dist/default/production/*.map
atu-100/dist/default/production/*.mcu
atu-100/dist/default/production/*.mum
atu-100/dist/default/production/*.pum
atu-100/dist/default/production/*.rlf
atu-100/dist/default/production/*.sdb
atu-100/dist/default/production/*.sym
atu-100/dist/default/production/*.p1
atu-100/dist/default/production/*.xml
atu-100/dist/*
esp-serial/esp-serial.elf
esp-serial/main.o
.tmp.eeprom.user
eeprom-data.h
